@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-surface text-slate-100 antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #334155 transparent;
}
